<div class="center">
    <h1>bestellingen</h1>
    <hr>
        <div *ngFor="let bestelling of bestellingen; let i = index">
            <div class="grid-container" *ngFor="let product of bestelling.products">
                    <img class="productImage" src={{product.imagePath}}>
                    <p class="grid-item name">Name: {{product.naam}}</p>
                    <p class="grid-item price ">Price: {{product.prijs}}</p> 
                    <p class="grid-item description">Description: {{product.beschrijving}}</p>
                    <p class="grid-item amount">Amount: {{product.amount}}</p>
            </div>
            <div class="grid-order-container">
                <p > OrderDate: {{bestelling.orderDate}}</p>
                <p *ngIf="bestelling.status == '1'"> Status: We nemen binnekort contact op</p>
                <p *ngIf="bestelling.status == '2'"> Status: Er is een afspraak gemaakt</p>
                <p *ngIf="bestelling.status == '3'"> Status: De bestelling is voltooit</p>
                <p> Total Price: {{bestelling.totalPrijs}}</p>
                <button (click)="upgradeStatus(i)" class="btn-primary btn button">Update status</button>
                <button *ngIf="bestelling.status != '3'" (click)="onCancel(i)" class="btn-danger btn remove button">Cancel</button>
            </div>
            <hr>
    </div>
</div>