<div class="center">
    <h1> Over ons</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum congue ligula, fringilla suscipit metus posuere eu. Maecenas mollis pellentesque interdum. Nunc auctor euismod dolor, ut vestibulum diam elementum sed. Curabitur mollis tincidunt massa ac ornare. Aliquam commodo lorem erat, sed molestie ipsum ornare id. Maecenas eu nisl et lacus tempus vehicula. Fusce in facilisis ligula, vel dictum dui. Curabitur lobortis dictum erat eu rutrum. In id leo elementum elit euismod vestibulum. Morbi malesuada, mauris a semper lacinia, turpis eros facilisis libero, a lobortis felis eros a tortor. Etiam ut molestie libero, sed mattis quam. Sed lobortis quam ultricies, lobortis risus eget, blandit metus. Vivamus dui nisi, finibus sed consectetur non, mattis sed ligula. Quisque iaculis, lacus vitae hendrerit convallis, massa sapien blandit justo, interdum auctor metus sapien quis nunc. Integer bibendum porttitor lacinia. </p>
    <h1> Contact informatie</h1>
    <hr>
    <table>
        <tr>
            <th>email</th>
            <td>  <a href="mailto:webmaster@example.com"> info@mail.com</a></td>
        <tr>
            <th>telefoon nummer</th>
            <td>0612345678</td>
        </tr>
        <tr>
            <th>twitter</th>
            <td> <a href="https://twitter.com"> twitter</a></td>
        </tr>
        <tr>
            <th>facebook</th>
            <td><a href="https://facebook.com"> facebook</a></td>
        </tr>
        <tr>
            <th>instagram</th>
            <td> <a href="https://instragram.com"> instagram</a></td>
        </tr>
    </table>

</div>