@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap');
* {
  outline: none;
}

strong {
  font-weight: 600;
}

.topbar {
  position: absolute;
  height: 5vh;
  width: 70vw;
  margin-left: 15vw;
  z-index: 1;
  font-family: 'Staatliches', cursive;
}
.social-media{
  width: 25px;
  height: 25px;
  float: right;
  margin-left: 10px;
  margin-top: 1%;
}

.social-media:hover {
  cursor: pointer;
}

.loginIcon{
  width: 45px;
  height: 45px;
  float: right;
  margin-right: 15vw;
  margin-top: 0.5%;
}
.loginIcon:hover {
  cursor: pointer;
}
.logo {
  border: 1px solid rgba(139, 119, 83, 0.8);;
  border-top: none;
  height: calc(5vh + 54px);
  width: 252px;
}

.banner {
  height: 500px;
  min-width: 100%;
  width: 99vw;
  position: absolute;
  margin-top: 5vh;
  background-image: url("../assets/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  overflow: hidden;

}
.space {
  background-color:rgba(139, 119, 83, 0.8);
  width: calc(15vw + 252px);
  float: left;
  height: 54px;
}
.topnav {
  background-color:rgba(139, 119, 83, 0.8);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: white;
}

.quote {
  font-family: 'Staatliches', cursive;
  color:white;
  width: 450px;
  margin-left: 15vw;
  position: absolute;
}

.quote p {
  font-size: 500%;
  -webkit-text-stroke: 1px black; /* width and color */
}
.productenBanner {
  background-color:rgb(197, 33, 33);
  width: 40%;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-family: 'Encode Sans Condensed', sans-serif;
}
.productenBanner:hover {
  background-color:rgb(180, 34, 34);
}
.content {
  position: relative;
}
.page {
  width: 100%;
  height: 10vh;
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.loginButton{
  visibility: hidden;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1350px) {
  .topbar {
    width: 100vw;
    margin:0;
  }
  .space {
    width: 252px;
    height: 1px;
  }
  .loginIcon {
    margin:0;
  }
  .social-media {
    margin-top: 0;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
    z-index: 1000;
    float: right;
    width: calc(100% - 252px);

  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .loginIcon {
    display: none;
  }
  .loginButton{
    visibility: visible;
  }
  .homeButton {
    visibility: hidden;
  }
  .quote {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 600px){
  .topnav {
    width: calc(100% - 120px);
    float: right;
  }
  .topnav.responsive{
    width: calc(100% - 120px);
  }
  .logo{
    height: 52px;
    width: 120px;
  }
  .banner {
    margin-top: 0;
    font-size:100%;
    height: 100vh;
  }
  .quote {
    margin:0;
    width: 100%;
    margin-top:20%;
    text-align: center;
  }
  .quote p {
    font-size:400%;
  }
  .topbar {
    height:0px;
  }
  .social-media {
    display: none;
  }
  .space {
    width: 0;
  }
}