.center {
    width: 70%;
    margin: 500px 10% 10% 15%;
}

.productImage {
  height: 200px;
  width: calc(100% - 3px);
  max-width: 300px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10000;
}

.popup {
  margin: 30vh auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
  height: 65vh;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.overlay .admin {
  height: auto;
}
@media screen and (max-width: 600px){
  .popup{
    width: 90%;
    height: 65vh;
    margin-top: 50px;
  }
  .center {
    margin-left:0;
    width: 100vw;
    margin: calc(15vh + 670px) 0% 0% 0%;
  }
}