<div class="center" *ngIf="!isLoading">
  <form *ngIf="login == true && loggedIn == false" (ngSubmit)="onLogin(f)" #f="ngForm">
    <h1>User - login</h1>
    <hr>
      <div id="user-data">
        <div class="form-group">
          <label for="username">Username</label>
          <input required ngModel name="username" type="text" id="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <input #password="ngModel" ngModel name="password" type="password" id="password" class="form-control" required password minlength="6">
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password</span>
        </div>
      </div>
      <button 
      class="btn-success btn button" 
      type="submit">
      Login</button>
      |
      <button (click)="login = false" class="switch btn btn-primary">Go to register</button>
    </form>
    <form *ngIf="login == false && loggedIn == false" (ngSubmit)="onRegister(f)" #f="ngForm">
      <h1>User - register</h1>
      <hr>
      <div id="user-data">
        <div class="form-group">
          <label for="username">Username</label>
          <input required ngModel name="username" type="text" id="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input required email ngModel name="email" type="text" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="adres">Adres</label>
          <input required ngModel name="adres" type="text" id="adres" class="form-control">
        </div>
        <div class="form-group">
          <label for="postcode">Postcode</label>
          <input required ngModel name="postcode" type="text" id="postcode" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <input #password="ngModel" ngModel name="password" type="password" id="password" class="form-control" required password>
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password</span>
        </div>
      </div>
      <button 
      class="btn-success btn" 
      type="submit">
      register</button>
      |
      <button (click)="login = true" class="btn btn-primary">Go to login</button>
    </form>
    <div *ngIf="loggedIn == true">
      <h1>User - already logged in</h1>
      <hr>
      <p>name: {{user.name}}</p>
      <p>adres: {{user.adres}}</p>
      <p>email: {{user.email}}</p>
      <p>postcode: {{user.postcode}}</p>
      <button (click)="logout()" class="btn btn-danger">logout</button>
    </div>
  </div>
  <div *ngIf="isLoading" class="center">
    <h1>User - loading</h1>
    <hr>
    <app-loading-spinner></app-loading-spinner>
  </div>