<div class="product-container" *ngFor="let product of products; let i = index">
    <img class="productImage" src={{product.imagePath}}>
    <div class="buttonContainer">
        <button class="remove" (click)="removeProduct(i)">delete</button>
        <button class="remove" (click)="editAmount(i,amount.value)">edit</button>
    </div>
    <div class="grid-container">
        <p class="grid-item">Name: {{product.naam}}</p>
        <p class="grid-item">Price: {{product.prijs}}</p> 
        <p class="grid-item">Description: {{product.beschrijving}}</p>
        <p class="grid-item">Amount: <input #amount value={{product.amount}}></p>
    </div>
    <hr>
</div>
