<div class="center">
    <h1>winkelwagen</h1>
    <hr>
    <div class="product-container">
        <div class="grid-container" *ngFor="let product of products; let i = index">
            <img class="productImage" src={{product.imagePath}}>
            <p class="grid-item name">Name: {{product.naam}}</p>
            <p class="grid-item price ">Price: {{product.prijs}} p/u</p> 
            <button class="btn-danger btn remove button" (click)="removeProduct(i)">delete</button>
            <p class="grid-item description">Description: {{product.beschrijving}}</p>
        </div>
        <hr>
        <div class="order-grid-container">
            <button (click)="createOrder()" class="btn btn-success orderButton"> Bevestig </button>
        </div>
    </div>
</div>
